// --- --- --- --- --- //
$background: #f3f4f6;
// --- --- --- --- --- //
$headertopcolor: #000;
$headercolor: #222;
$headerfontcolor: #ccc;
$navcolor: #fff;
// --- --- --- --- --- //
$footerbotcolor: #000;
$footercolor: #222;
$footertitle: #ef382a;
$footerfontcolor: #cacccc;
// --- --- --- --- --- //
$font: Arial, Helvetica, sans-serif;
// --- --- --- --- --- //